body {
    background-color: #393e41;
    font-family: 'Raleway', sans-serif;
    line-height: 24px;
    font-size: 14px;
    color: #F0e9da;
    -webkit-font-smoothing: antialiased;
}

.homepage {
    overflow-y: hidden;
}

figure, p, address {
    margin: 0;
}

p {
    line-height: 25px;
    letter-spacing: .1em;
}

.paragraph {
    padding-top: 15px;
}

iframe {
    border: 0;
}

a {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

a, a:hover, a:focus, .btn:focus {
    text-decoration: none;
    outline: none;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Rufina', serif;
    color: #404045;
    letter-spacing: .05em;
    text-transform: none;
}

h3 {
  color: #F1F2EB;
}

h4, h5 {
  color: #6e8972;
}

main>section {
    padding: 15px 0 30px 0;
}


.intro-header {
    background: no-repeat center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.site-banner {
    height: 250px;
}

.banner-title {
    padding-top: 65px;
    color: #F1F2EB;
}

.banner-title h1 {
    color: #F1F2EB;
}

.overlay {
    background: rgba(38, 36, 34, .35);
}

.intro-header .site-heading, .intro-header .post-heading, .intro-header .page-heading {
    padding: 100px 0 50px;
    color: white;
}

@media only screen and (min-width: 768px) {
    .intro-header .site-heading, .intro-header .post-heading, .intro-header .page-heading {
        padding: 125px 0;
    }
}

.intro-header .site-heading, .intro-header .page-heading {
    text-align: center;
}

.intro-header .site-heading h1, .intro-header .page-heading h1 {
    margin-top: 0;
    font-size: 50px;
}

.intro-header .site-heading .subheading, .intro-header .page-heading .subheading {
    font-size: 24px;
    line-height: 1.1;
    display: block;
    font-family: 'Rufina', serif;
    font-weight: 300;
    margin: 10px 0 0;
}

@media only screen and (min-width: 768px) {
    .intro-header .site-heading h1, .intro-header .page-heading h1 {
        font-size: 80px;
    }
}

.intro-header .post-heading h1 {
    font-size: 35px;
}

.intro-header .post-heading .subheading, .intro-header .post-heading .meta {
    line-height: 1.1;
    display: block;
}

.intro-header .post-heading .subheading {
    font-family: 'Rufina', serif;
    font-size: 24px;
    margin: 10px 0 30px;
    font-weight: 600;
}

.intro-header .post-heading .meta {
    font-family: 'Lora', 'Times New Roman', serif;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
}

.intro-header .post-heading .meta a {
    color: white;
}

@media only screen and (min-width: 768px) {
    .intro-header .post-heading h1 {
        font-size: 55px;
    }
    .intro-header .post-heading .subheading {
        font-size: 30px;
    }
}

.classWithPad {
    padding: 15px;
}


/*
@media only screen and (min-width : 768px) {
   .classWithPad {
     padding: 30px 0 30px 0;
    }
  }
  -->
*/

.btn {
    border-radius: 0;
    border: 0;
    position: relative;
    text-transform: uppercase;
}

.btn-blue {
    background-color: rgba(0, 158, 227, 0.78);
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.15) inset;
    padding: 15px 55px;
    color: #F1F2EB;
}

.btn-border {
    border: 2px solid #F1F2EB;
    color: #F1F2EB;
    padding: 12px 35px;
}


/* Sweep To Right */

.btn-effect {
    vertical-align: middle;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    display: inline-block;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: color;
    -moz-transition-property: color;
    -ms-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-osx-font-smoothing: grayscale;
}

.btn-effect:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #F1F2EB;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    -moz-transition-property: transform;
    -ms-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.btn-effect:hover, .btn-effect:focus, .btn-effect:active {
    color: #009EE3;
}

.btn-effect:hover:before, .btn-effect:focus:before, .btn-effect:active:before {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

.sec-title {
    margin-bottom: 50px;
}

.sec-title.white {
    color: #F1F2EB;
}

.sec-title h2 {
    font-size: 36px;
    margin: 0 0 30px;
    padding-bottom: 30px;
    position: relative;
    text-transform: uppercase;
}

.sec-title.white h2 {
    color: #F1F2EB;
}

.sec-title h2:after {
    border-bottom: 1px solid #009ee3;
    content: "";
    display: block;
    left: 45%;
    bottom: 0;
    position: absolute;
    width: 115px;
}

.sec-title.white h2:after {
    border-bottom: 1px solid #F1F2EB;
}

.parallax {
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}


/**
/*	Preloader
/* ==========================================*/

#preloader {
    background-color: #F1F2EB;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.coffeeloader {
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    top: 50%;
}

.cupcontainer {
    width: 60px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50px;
    left: 5px;
}

.cupcontainer .cup {
    border-bottom: 40px solid #8b6139;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    width: 40px;
    transform: rotate(180deg);
    position: relative;
    left: -3px;
    top: 5px;
}

.cupcontainer .handle {
    width: 18px;
    height: 10px;
    border: 6px solid #8b6139;
    position: relative;
    top: -30px;
    left: 35px;
}

.cupcontainer .glance {
    border-bottom: 25px solid #af7a48;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    height: 0;
    width: 2px;
    transform: rotate(180deg);
    position: absolute;
    top: 13px;
    left: 10px;
}

.plate {
    background: #8b6139;
    width: 100px;
    height: 6px;
    border-radius: 3px;
    position: relative;
    top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.bottom {
    background: #8b6139;
    width: 60px;
    height: 6px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    top: 45px;
    margin-left: auto;
    margin-right: auto;
}

.steam {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50px;
    left: 5px;
}

.smoke1 {
    width: 6px;
    height: 30px;
    float: left;
    margin-right: 6px;
    margin-left: 4px;
    border-radius: 3px;
}

.smoke1::before, .smoke1::after {
    content: "";
    background: #8b6139;
    position: absolute;
    animation: load 0.9s infinite reverse ease-in-out;
    border-radius: 3px;
}

.smoke2 {
    width: 6px;
    height: 15px;
    float: left;
    margin-right: 6px;
    margin-left: 4px;
    border-radius: 3px;
}

.smoke2::before, .smoke2::after {
    content: "";
    background: #8b6139;
    position: absolute;
    animation: load 0.6s infinite reverse ease-in-out;
    border-radius: 3px;
    margin-top: 5px;
}

.smoke3 {
    width: 6px;
    height: 30px;
    float: left;
    margin-right: 6px;
    margin-left: 4px;
    border-radius: 3px;
}

.smoke3::before, .smoke3::after {
    content: "";
    background: #8b6139;
    position: absolute;
    animation: load 0.9s infinite 0.5s reverse ease-in-out;
    border-radius: 3px;
}

@keyframes load {
    0% {
        top: 0;
        height: 30px;
        width: 6px;
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        top: 29px;
        height: 15px;
        width: 6px;
        opacity: 0;
    }
}

@-webkit-keyframes charge {
    0% {
        box-shadow: inset 0px 0px 0px #2E2E2E;
    }
    100% {
        box-shadow: inset 60px 0px 0px #2E2E2E;
    }
}

@-moz-keyframes charge {
    0% {
        box-shadow: inset 0px 0px 0px #2E2E2E;
    }
    100% {
        box-shadow: inset 60px 0px 0px #2E2E2E;
    }
}

@keyframes charge {
    0% {
        box-shadow: inset 0px 0px 0px #2E2E2E;
    }
    100% {
        box-shadow: inset 60px 0px 0px #2E2E2E;
    }
}


/**
/*	Header
/* ==========================================*/

#navigation {
    -webkit-transition: all 0.8s ease 0s;
    -moz-transition: all 0.8s ease 0s;
    -ms-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
    background-color: rgba(38, 36, 34, .5);
    padding: 5px 0;
    position: absolute;
    z-index: 2000;
}

#navigation.animated-header {
    padding: 5px 0;
}

h1.navbar-brand {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    padding: 5px 5px 5px 15px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #F1F2EB;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: .25em;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border: none;
}

.navbar-collapse {
    border-color: transparent;
}

.navbar-form {
    border-color: transparent;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #6e8972;
}


/*=================================================================
	Home Slider
==================================================================*/

#home-slider {
    position: relative;
    padding: 0;
}

.sl-slider-wrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.sl-slider {
    position: absolute;
    top: 0;
    left: 0;
}


/* Slide wrapper and slides */

.sl-slide, .sl-slides-wrapper, .sl-slide-inner {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
}

.sl-slide {
    z-index: 1;
}

.slide-caption {
    color: #F1F2EB;
    display: table;
    height: 50%;
    left: 0;
    min-height: 50%;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 11;
}

.slide-caption .caption-content {
    vertical-align: middle;
    display: table-cell;
}

.caption-content>span {
    display: block;
    font-size: 24px;
    margin-bottom: 45px;
    text-transform: capitalize;
}

.caption-content p {
    font-size: 29px;
    margin-bottom: 65px;
}


/* The duplicate parts/slices */

.sl-content-slice {
    overflow: hidden;
    position: absolute;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background: #F1F2EB;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 1;
}


/* Horizontal slice */

.sl-slide-horizontal .sl-content-slice {
    width: 100%;
    height: 50%;
    left: -200px;
    -webkit-transform: translateY(0%) scale(1);
    -moz-transform: translateY(0%) scale(1);
    -o-transform: translateY(0%) scale(1);
    -ms-transform: translateY(0%) scale(1);
    transform: translateY(0%) scale(1);
}

.sl-slide-horizontal .sl-content-slice:first-child {
    top: -200px;
    padding: 200px 200px 0px 200px;
}

.sl-slide-horizontal .sl-content-slice:nth-child(2) {
    top: 50%;
    padding: 0px 200px 200px 200px;
}


/* Vertical slice */

.sl-slide-vertical .sl-content-slice {
    width: 50%;
    height: 50%;
    top: -200px;
    -webkit-transform: translateX(0%) scale(1);
    -moz-transform: translateX(0%) scale(1);
    -o-transform: translateX(0%) scale(1);
    -ms-transform: translateX(0%) scale(1);
    transform: translateX(0%) scale(1);
}

.sl-slide-vertical .sl-content-slice:first-child {
    left: -200px;
    padding: 200px 0px 200px 200px;
}

.sl-slide-vertical .sl-content-slice:nth-child(2) {
    left: 50%;
    padding: 200px 200px 200px 0px;
}


/* Content wrapper */


/* Width and height is set dynamically */

.sl-content-wrapper {
    position: absolute;
}

.sl-content {
    width: 100%;
    height: 50%;
}


/* Default styles for background colors

.btn-effect:after {
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background: #F1F2EB;
    content: "";
    position: absolute;
    z-index: -1;

    -webkit-transition: all 0.3s ease-out 0s;
       -moz-transition: all 0.3s ease-out 0s;
        -ms-transition: all 0.3s ease-out 0s;
         -o-transition: all 0.3s ease-out 0s;
            transition: all 0.3s ease-out 0s;
}

.btn-effect:hover,
.btn-effect:active {
    color: #0e83cd;
}

.btn-effect:hover:after,
.btn-effect:active:after {
    width: 100%;
} */


/* Project laughtbox setup */

.fancybox-item.fancybox-close {
    background: url("../img/icons/close.png") no-repeat scroll 0 0 transparent;
    height: 50px;
    right: 0;
    top: 0;
    width: 50px;
}

.fancybox-next span {
    background: url("../img/right.png") no-repeat scroll center center #009ee3;
    height: 50px;
    width: 50px;
    right: 0;
}

.fancybox-prev span {
    background: url("../img/left.png") no-repeat scroll center center #009ee3;
    height: 50px;
    width: 50px;
    left: 0;
}


/*=================================================================
	About
==================================================================*/

#about {
    background-color: #393E41;
    color: #F1F2EB;
    height: calc(100% - 30px);
}

#about h3 {
    color: #F1F2EB;
    margin: 0 0 35px;
    text-transform: uppercase;
}

#about .welcome-block h3 {
    margin: 0 0 65px;
}

#about .welcome-block img {
    border: 3px solid #F1F2EB;
    border-radius: 50%;
    margin-right: 35px;
    max-width: 100px;
}

.welcome-message {
    padding: 0 50px;
}

.welcome-message img {
    display: block;
    height: auto;
    max-width: 100px;
    float: left;
}

.welcome-message p {
    font-size: 13px;
    margin-left: 135px;
}


/*=================================================================
	Services
==================================================================*/

.service-icon {
    border: 3px solid transparent;
    display: inline-block;
    height: 85px;
    width: 85px;
    line-height: 101px;
    -webkit-transform: rotate(47deg);
    -moz-transform: rotate(47deg);
    -ms-transform: rotate(47deg);
    -o-transform: rotate(47deg);
    transform: rotate(47deg);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.service-item:hover .service-icon {
    border: 3px solid #009ee3;
    margin-bottom: 20px;
    color: #009ee3;
}

.service-icon i {
    -webkit-transform: rotate(-48deg);
    -moz-transform: rotate(-48deg);
    -ms-transform: rotate(-48deg);
    -o-transform: rotate(-48deg);
    transform: rotate(-48deg);
}

.service-item h3 {
    font-size: 20px;
    text-transform: uppercase;
}


/*=================================================================
	Portfolio
==================================================================*/

.project-wrapper {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.project-wrapper li {
    display: inline-block;
}

.portfolio-item {
    cursor: pointer;
    margin: 0 1% 1% 0;
    overflow: hidden;
    position: relative;
    width: 32%;
}

figcaption.mask {
    background-color: rgba(54, 55, 50, 0.79);
    bottom: -126px;
    color: #F1F2EB;
    padding: 25px;
    position: absolute;
    width: 100%;
    text-align: left;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.portfolio-item:hover figcaption.mask {
    bottom: 0;
}

figcaption.mask h3 {
    margin: 0;
    color: #F1F2EB;
}

ul.external {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: -47px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

ul.external li {
    display: inline-block;
}

ul.external li a {
    background-color: rgba(255, 255, 255, 0.9);
    color: #818181;
    display: block;
    padding: 10px 18px 13px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

ul.external li a:hover {
    background-color: #009EE3;
    color: #F1F2EB;
}

.portfolio-item:hover ul.external {
    top: 0;
}

.fancybox-skin {
    border-radius: 0;
}

.fancybox-title.fancybox-title-inside-wrap {
    padding: 15px;
}

.fancybox-title h3 {
    margin: 0 0 15px;
}

.fancybox-title p {
    color: #818181;
    font-size: 16px;
    line-height: 22px;
}

.fancybox-title-inside-wrap {
    padding-top: 0;
}

.panel {
    margin-bottom: 20px;
    background-color: #D8DAD3;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05);
    color: #393E41;
}

.panel-body {
    padding: 0;
}

.panel-default>.panel-heading {
    background-color: #555C60;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05);
}


}
{
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

/*=================================================================
	Contact
==================================================================*/
.input-field {
    margin-bottom: 10px;
}
.form-control {
    border: 1px solid #ececec;
    border-radius: 0;
    box-shadow: none;
    color: #818181;
    font-size: 16px;
    height: 50px;
}
textarea.form-control {
    width: 100%;
    height: 165px;
}
.contact-details h3 {
    border-bottom: 1px solid #008ecc;
    font-weight: 700;
    margin-bottom: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
}
.contact-details p {
    line-height: 30px;
}
.contact-details p i {
    margin-right: 10px;
}
.contact-details span {
    display: block;
    margin-left: 24px;
}

/*============================================================
	Google Maps
==============================================================*/
#google-map {
    padding: 0;
}
#map {
    width: 100%;
    height: 300px;
}
.menu-content {
    padding-top: 25px;
    background-color: #393E41;

}

.menu-bg {
  background-color: #393e41;
}

.menu-price {
  color: #404045;
}

.likeus {
    color: #F0e9da;
    font-size: 38px;
}

.likeus:hover {
    color: #6e8972;
}

.likeus-home {
    color: #F0e9da;
    font-size: 30px;
}

.likeus-home:hover {
    color: #6e8972;
}

.aboutsec {
    padding: 30px 15px 30px 15px;
}
.sociallist {
    padding: 0 5px 0 5px;
}
.footer-content .footer-social {
    margin: 40px 0 35px;
}
.footer-social ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.footer-social ul li {
    display: inline-block;
    margin: 0 10px;
}
.footer-social ul li a {
    color: #7f7f7f;
    display: block;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.footer-social ul li a:hover {
    color: #009EE3;
}
.footer-content>p {
    color: #ababab;
    font-size: 12px;
}

/* Menu Styling */
.restaurant_menu__list {
    /* Just for this example */

    list-style: none;
    padding: 0;
    font-size: 14px;
    /* For em cross-browser sizing */

    min-width: 320px;
    /* For mobile devices */

    max-width: auto;
    /* Custom max width for readbility */
}
.restaurant_menu__row {
    border-bottom: 2px dotted #B5ABAB;
    /* Our dotted line, we can use border-image instead */

    position: relative;
    float: left;
    line-height: 1.2em;
    margin: -.9em 0 0 0;
    width: 100%;
    text-align: left;
}
.restaurant_menu__meal span, .restaurant_menu__price {
    background-color: #F1F2EB;
    /* For .restaurant_menu__row background rewriting */
}
.restaurant_menu__meal {
    padding-right: 3em;
    /* Custom number for space between text and right side of .restaurant_menu__row; must be greater than .restaurant_menu__price max-width to avoid overlapping */
}
.restaurant_menu__meal span {
    margin: 0;
    position: relative;
    top: 1.6em;
    padding-right: 5px;
    /* Custom number for space between text and dotted line */
}
.restaurant_menu__price {
    padding: 1px 0 1px 5px;
    position: relative;
    top: .4em;
    left: 1px;
    /* ie6 rounding error*/

    float: right;
}
div#multiColumn {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}

/*============================================================
	Responsive Styles
 ============================================================*/

/*============================================================
	For Small Desktop
==============================================================*/
@media (min-width: 980px) and (max-width: 1150px) {
    /*about*/

    #about .welcome-block img {
        margin-bottom: 30px;
    }
    /* portfolio */

    figcaption.mask {
        bottom: -151px;
    }

    .testimonial-item>div:after {
        bottom: -40px;
    }
}

/*============================================================
	Tablet (Portrait) Design for a width of 768px
==============================================================*/
@media (min-width: 768px) and (max-width: 979px) {
    /* home slider  */

    .caption-content h2 {
        font-size: 40px;
    }

    .caption-content p {
        font-size: 25px;
    }

    .caption-content strong {
        font-size: 45px;
    }
    /* about */

    .recent-works {
        margin-bottom: 50px;
    }

    .service-item {
        margin-bottom: 50px;
    }
    /* portfolio */

    .portfolio-item {
        width: 48%;
    }
    /* testimonial */

    .testimonial-item {
        width: 100%;
    }

    .testimonial-item {
        width: 80%;
    }

    .testimonial-item>div:after {
        bottom: -35px;
    }
    /* price */

    .price-table {
        margin-bottom: 50px;
    }
    /* contact form */

    .contact-form {
        margin-bottom: 50px;
    }
}

/*============================================================
	Mobile (Portrait) Design for a width of 320px
==============================================================*/
@media only screen and (max-width: 767px) {
    body {
        font-size: 14px;
    }

    .parallax {
        background-position: centet tip !important;
    }

    .sec-title h2 {
        font-size: 25px;
    }

    .sec-title h2:after {
        left: 30%;
    }
    /*navigation*/

    .navbar-inverse .navbar-toggle {
        border: none;
        border-radius: 0;
    }

    .navbar-collapse {
        border-color: transparent;
    }

    .navbar-form {
        border-color: transparent;
    }

    .navbar-toggle .icon-bar {
        border-radius: 0;
        background-color: #F0e9da !important;
    }

    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
        background-color: transparent;
    }
    /* slider */

    .caption-content h2 {
        font-size: 18px;
    }

    .caption-content>span {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .caption-content p {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .caption-content strong {
        font-size: 22px;
    }
    /* about */

    .recent-works {
        margin-bottom: 85px;
    }
    /* service */

    .service-item {
        width: 100%;
    }
    /*portfolio*/

    .portfolio-item {
        margin: 0 auto 10px;
        font-size: 14px;
        width: 280px;
    }

    figcaption.mask {
        bottom: -107px;
        color: #F1F2EB;
        padding: 15px;
    }
    /* lightbox */

    .fancybox-title h3 {
        font-size: 20px;
    }

    .fancybox-title p {
        font-size: 14px;
    }
    /* testimonial */

    .testimonial-item {
        width: 95%;
    }

    .testimonial-item>div:before, .testimonial-item>div:after {
        background-image: none;
    }

    .testimonial-item>div>span {
        margin: 30px 0 20px;
    }
    /* price */

    .price-table {
        margin-bottom: 50px;
    }
    /* follow us */

    .social-button li:nth-child(2) {
        margin: 0 25px;
    }

    .social-button li a {
        height: 65px;
        line-height: 71px;
        width: 65px;
    }
    /* contact form */

    .contact-form {
        margin-bottom: 50px;
    }
    /* footer */

    .footer-content {
        width: 100%;
    }

    .footer-social ul li {
        margin: 0 7px;
    }
}

/*============================================================
	Mobile (Landscape) Design for a width of 480px
==============================================================*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .sec-title h2:after {
        left: 38%;
    }
    /* home slider */

    .caption-content h2 {
        font-size: 35px;
    }

    .caption-content p {
        font-size: 25px;
    }

    .caption-content strong {
        font-size: 35px;
    }
    /* service */

    .service-item {
        margin: 0 auto 50px;
        width: 55%;
    }
    /* portfolio */

    .portfolio-item {
        width: 48%;
    }

    figcaption.mask {
        bottom: -132px;
    }
    /* testimonial */

    .testimonial-item {
        width: 80%;
    }

    .testimonial-item>div:before {
        bottom: 160px;
    }
    /* social */

    .social-button li:nth-child(2) {
        margin: 0 50px;
    }

    .social-button li a {
        height: 90px;
        line-height: 96px;
        width: 90px;
    }
    /* price */

    .price-table {
        margin-bottom: 50px;
    }
    /* contact form */

    .contact-form {
        margin-bottom: 50px;
    }
    /* footer */

    .footer-content {
        width: 380px;
    }
}
